@charset "UTF-8";

header {

    background-image: url(/00-design/imagens/header/header-tabuada001c.jpg);
    background-size: contain;

}

.main_geral {

    height: 493px;
    background-image: url(/00-design/imagens/tela_de_fundo/tela_de_fundo-tabuada001b.jpg);
    background-position: center;

}

.section_geral {

    background-image: url(/00-design/imagens/conteiner/conteiner-tabuada001b.jpg);

}

.div_tabuada {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;

}

.label_numero, .input_numero {

    width: 342px;
    height: 30px;
    margin-left: 55px;
    margin-bottom: 5px;
    border-radius: 5px;

}

.div_resultado {

    width: 60%;

}

.select_tabuada {

    width: 350px;
    padding: 10px;
    margin-left: 55px;
    border-radius: 5px;

}

.gerar {

    cursor: pointer;
    width: 89.5%;
    padding: 10px;
    margin-top: 35px;
    margin-left: 32px;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-size: large;

}

.gerar:hover {

    background-color: #000;
    color: #fff;
    transition: .3s ease;

}